.action-button {
  display: inline-flex;
  width: 200px;
  height: 50px;
  //margin-left: auto;
  //margin-right: auto;
  justify-content: center;
  align-items: center;
  /* btn alignment for Chromium engine */
  vertical-align: top;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border-style: hidden;
  border-radius: 4px;
  color: var(--main-light-color);
  background-color: var(--accent-color);
  box-shadow: var(--action-btn-shadow);
  cursor: pointer;
  transition: background-color var(--main-animation);
  //@media screen and (min-width: 1200px) {
  //}
}

.action-button:hover,
.action-button:focus {
  background-color: var(--accent-dark-color);
}
